.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.site-branding-container .site-branding .site-title.anim1{
	width: 100%;
}

.site-branding-container .site-branding .site-description.anim3{
	font-size:150%;
}

.site-description.anim3{
    font-size: 100%;
}

.entry-header h1 {
    
}

/*
.entry-content .wp-block-media-text.alignwide{
    display:block;
}
*/

.site-header.featured-image .site-featured-image{
    display: flex;
    align-self: flex-start;
    margin: 0 14vw 0 14vw;

}

.site-header.featured-image .site-featured-image .entry-header{
    margin: 0;
}

/*#primary {
	display:flex;
		justify-content: center;
}*/