.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.site-branding-container .site-branding .site-title.anim1{
	width: 100%;
}

.site-branding-container .site-branding .site-description.anim3{
	font-size:150%;
}

.site-description.anim3{
    font-size: 100%;
}